<div>
    <md-toolbar class="md-hue-2 header">
        <div class="md-toolbar-tools">
            <h2 flex ui-sref="main"><a href="#">Blog</a></h2>


            <md-button class="signin" ng-if="!$ctrl.authData.authorization" ui-sref="auth" aria-label="Login">
                <span>Sign in</span>
                <md-icon><i class="material-icons">person_add</i></md-icon>
            </md-button>

            <md-menu ng-if="$ctrl.authData.authorization" md-offset="0 -7">
                <md-button aria-label="Open demo menu" class="md-icon-button logout" ng-click="$mdMenu.open($event)">
                    <span class="email">{{$ctrl.authData.email}}</span>
                    <md-icon><i class="material-icons">person</i></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button class="logout" ng-click="$ctrl.logout()">
                            <md-icon><i class="material-icons">exit_to_app</i></md-icon>
                            <span md-menu-align-target>Log out</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>
</div>
