<md-content flex layout-padding>
    <md-fab-speed-dial md-open="false" md-direction="{{$ctrl.selectedDirection}}" class="md-scale">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon><i class="material-icons">menu</i></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions class="md-toolbar-tools">
            <div ng-if="$ctrl.authService.authData.authorization">
                <md-button aria-label="menu" class="md-icon-button" ng-click="$ctrl.deletePost($ctrl.post.id)">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
                    <md-icon><i class="material-icons">delete</i></md-icon>
                </md-button>
            </div>
        </md-fab-actions>
    </md-fab-speed-dial>

    <h1>{{$ctrl.post.title}}</h1>
    <p>{{$ctrl.post.text}}</p>
    <p>{{$ctrl.post.created | date: 'medium'}}</p>
</md-content>




