.blogList {
  margin-top: 10px;
}

md-list-item.post {
  align-items: center;
}

md-list.blog {
  margin-bottom: 110px;
}

.queryPanel {
  padding: 0 16px;

  .search {
    width: 30%;
    margin-right: 2%;
  }

  .sortBy {
    width: 15%;
    md-input-container {
      width: 100%;
    }
  }
}